.container{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;

}

.quiz-info{
    display: flex;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-direction: column;
}
.candidate{
    border: 1px solid black;
    display: flex;
    width: 250px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;

}

.candidate img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    /* align-self: flex-start; */
}

.candidate:hover{
    /* background-color: black; */
}